<%= render "landscape"%>
<div class="drip"></div>
<div class="container">
  <div class="card reflect animate__animated animate__fadeInUp">
    <%= image_tag "avatar.jpg", alt: "avatar", class: "avatar" %>
    <h2>Paulyn Ompico</h1>
    <h3>Web Developer | Paris, France</h5>
  </div>
  <div id="arrow" class="animate__animated animate__fadeInUp">
    <i class="fa-solid fa-chevron-down"></i>
  </div>
</div>

<div class="p-container" id="projects">
  <h2 data-aos="zoom-in" class="headline">PROJECTS</h2>
  <h3 data-aos="zoom-in" class="headline">WEB APPS</h3>
  <%= link_to "https://paulynswatchlist.herokuapp.com", target: :_blank do %>
    <div class="proj" data-aos="zoom-in">
      <%= image_tag "watchlist.png", alt: "project image", class: "photo" %>
    </div>
  <% end %>
  <%= link_to "https://memomio.herokuapp.com", target: :_blank do %>
    <div class="proj" data-aos="zoom-in">
      <%= image_tag "memomio.png", alt: "project image", class: "photo" %>
    </div>
  <% end %>
  <%= link_to "https://newbnb.herokuapp.com", target: :_blank do %>
    <div class="proj" data-aos="zoom-in">
      <%= image_tag "newbnb.png", alt: "project image", class: "photo" %>
    </div>
  <% end %>
  <h3 data-aos="zoom-in" class="headline">GAMES</h3>
  <%= link_to "https://swynfel.itch.io/faithless-land", target: :_blank do %>
    <div class="proj" data-aos="zoom-in">
      <%= image_tag "faithless.jpg", alt: "project image", class: "photo" %>
    </div>
  <% end %>
  <%= link_to "https://swynfel.itch.io/shelterless", target: :_blank do %>
    <div class="proj" data-aos="zoom-in">
      <%= image_tag "shelterless.png", alt: "project image", class: "photo" %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="card animate__animated animate__fadeInUp">
    <h2>ABOUT ME</h1>
    <p>I first got into coding back in high school and I absolutely loved it. But at the time, I only considered it a hobby. After a 12-year hiatus, I had this realization that coding was what I really wanted to do. So, I took a break from academia and decided to explore the tech world.</p>
    <br>
    <p>I got involved in different tech-related industries and started coding again. I teamed up with some friends who were into game development, took coding courses, and did coding challenges for fun. Finally, in the beginning of 2023, I joined Le Wagon's web development bootcamp and completed it in March.</p>
    <br>
    <p>This portfolio showcases my best work, reflecting my attention to detail, creativity, and dedication to delivering exceptional results. I'm currently seeking new opportunities to contribute to innovative projects, so let's connect and create something amazing together!</p>
  </div>
</div>


<%= render "bg" %>
